<a href="https://colab.research.google.com/github/miamzs2001/morbidity-prediction/blob/main/T_Test_FYP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from scipy import stats
import pandas as pd
rng = np.random.default_rng()

In [ ]:
df = pd.read_csv("Outcome_2.csv")

In [ ]:
#Select non-binary columns
mask = (df != 0) & (df != 1) & df.notnull()
continuous = df.loc[:, mask.any()]

In [ ]:
continuous = pd.concat((continuous,df['Outcome']),axis=1)
continuous

,MotherAge,MotherG,MotherP,MotherA,BirthDrugAtSteroidCat,BirthWt,BirthGestation,BirthMultiplicity,Apgar1Min,Apgar5Min,...,RespSpt_HFNCDur,RespSpt_ConvVentDur,RespSpt_HFOVDur,RespSpt_NitrixOxideDur,DiagPneumothoraxDev,DiagROPStage,DiagIVHGrade,DiagCVL_Duration,DiagHIE,Outcome
0,28.0,5,3,2,2.0,1710,32,2,9,10,...,0.0,0.5,0.5,0.0,NaN,0,3.0,1,1.0,1
1,18.0,1,0,0,2.0,740,25,1,9,10,...,0.0,2.0,1.0,0.0,NaN,0,4.0,1,1.0,1
2,36.0,3,2,0,1.0,1600,30,1,7,9,...,4.0,28.0,1.0,0.0,NaN,0,2.0,8,1.0,1
3,28.0,5,3,1,2.0,1390,29,1,1,3,...,0.0,1.0,1.0,0.0,NaN,0,0.0,1,1.0,1
4,42.0,2,0,1,1.0,1280,30,1,9,10,...,0.0,1.0,0.0,0.0,NaN,0,0.0,10,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4719,33.0,2,1,0,2.0,2070,32,1,8,9,...,5.0,0.0,0.0,0.0,NaN,0,0.0,0,1.0,0
4720,38.0,3,3,0,0.0,1100,31,1,8,9,...,4.0,0.0,0.0,0.0,NaN,0,2.0,0,1.0,0
4721,42.0,4,3,0,0.0,2150,32,1,0,0,...,3.0,4.0,2.0,0.0,NaN,0,1.0,0,1.0,0
4722,21.0,3,1,1,1.0,711,24,1,2,2,...,0.0,1.0,0.0,0.0,NaN,0,NaN,0,NaN,1
4723,29.0,1,0,0,1.0,1970,32,1,9,10,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0,1.0,0

In [ ]:
#t-test with scipy
from scipy import stats

results = {}
for col in continuous.columns[:-1]:
    tstat, pvalue = stats.ttest_ind(continuous[col], continuous.iloc[:, -1])
    results[col] = (tstat, pvalue)

results = pd.DataFrame.from_dict(results, orient='index', columns=['t-statistic', 'p-value'])
results

                        t-statistic        p-value
MotherAge                       NaN            NaN
MotherG                   93.297080   0.000000e+00
MotherP                   53.117020   0.000000e+00
MotherA                   15.300859   3.182489e-52
BirthDrugAtSteroidCat           NaN            NaN
BirthWt                  221.021358   0.000000e+00
BirthGestation           869.277999   0.000000e+00
BirthMultiplicity        132.186913   0.000000e+00
Apgar1Min                165.559646   0.000000e+00
Apgar5Min                197.441654   0.000000e+00
BirthAdmissionTemp      2323.545307   0.000000e+00
RespSpt_CPAPDur           36.684851  1.458024e-275
RespSpt_HFNCDur           25.828481  3.383418e-142
RespSpt_ConvVentDur       27.177291  1.145699e-156
RespSpt_HFOVDur           12.092025   2.053245e-33
RespSpt_NitrixOxideDur   -19.930998   1.300719e-86
DiagPneumothoraxDev             NaN            NaN
DiagROPStage              -0.235465   8.138527e-01
DiagIVHGrade                    NaN            NaN
DiagCVL_Duration          18.735299   6.263875e-77
DiagHIE                         NaN            NaN